{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_header %}{% endblock %}
{% block base_flashbags %}{% endblock %}
{% block base_navigation %}{% endblock %}
{% block base_offcanvas_navigation %}{% endblock %}
{% block base_footer %}{% endblock %}
{% block base_scroll_up %}{% endblock %}

{% block base_content %}
    {% block page_2fa_verification %}
        <div class="row justify-content-center">
            <div class="col col-md-4 col-lg-3">
                {% block page_2fa_verification_header %}
                    <div class="mb-3">
                        {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
                    </div>
                {% endblock %}

                <div class="card card-verifiy">
                    {% block page_2fa_verification_card_header %}
                        <div class="card-header">
                            {{ "rl-2fa.login.title"|trans|sw_sanitize }}
                        </div>
                    {% endblock %}
                    {% block page_2fa_verification_card_body %}
                        <div class="card-body p-3">
                            {% block page_2fa_verification_card_body_description %}
                                <p>
                                    {{ "rl-2fa.login.description"|trans|sw_sanitize }}
                                </p>
                            {% endblock %}

                            {% block page_2fa_verification_card_body_flashbag %}
                                <div class="flashbags container p-0">
                                    {% for type, messages in app.flashes %}
                                        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with { type: type, list: messages } %}
                                    {% endfor %}
                                </div>
                            {% endblock %}

                            {% block page_2fa_verification_card_body_form %}
                                <form method="POST" action="{{ url('frontend.rl2fa.verification', redirect ?? []) }}">
                                    <label for="otpCode">{{ "rl-2fa.login.code-placeholder"|trans }}</label>

                                    {% block page_2fa_verification_card_body_form_input %}
                                        <input type="text"
                                               class="form-control mb-1"
                                               autocomplete="one-time-code"
                                               id="otpCode"
                                               placeholder="{{ "rl-2fa.login.code-placeholder"|trans|striptags }}"
                                               name="otpCode"
                                               required="required">
                                    {% endblock %}

                                    {% block page_2fa_verification_card_body_form_button %}
                                        <button type="submit" class="btn btn-primary btn-block">
                                            {{ "rl-2fa.login.proceed"|trans|sw_sanitize }}
                                        </button>
                                    {% endblock %}

                                    {% block page_2fa_verification_card_body_form_cancel %}
                                        <a href="{{ url('frontend.rl2fa.verification.cancel') }}"
                                           class="btn btn-light btn-block">
                                            {{ "rl-2fa.login.cancel"|trans|sw_sanitize }}
                                        </a>
                                    {% endblock %}
                                </form>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
